---
import Layout from '../layouts/Layout.astro'

---
<Layout>
  <section>
    <header>
      <h1>Personal Information</h1>
    </header>

    <article>
      <h2>Experience</h2>

      <div>
        <p class="experience-text">
          <strong>+4 years of experience</strong> development personal projects and working with customers as freelancer.
        </p>
      </div>
    </article>

    <article class="containers-info">
      <h2>Basic information</h2>

      <div class="container-personal">
        <strong>Full name: </strong>
        <p class='answer'>Bryan Armando Gordon Echeverria </p>
      </div>

      <div class="container-personal">
        <strong>Address: </strong>
        <p class='answer'>Cotacachi - Imbabura - Ecuador</p>
      </div>

      <div class="container-personal">
        <strong>Email: </strong>
          <p class='answer'>bryanbge92@gmail.com / bryanbge98@outlook.com</p>
      </div>
    </article>

    <article class="containers-info">
      <h2>Certifications</h2>

      <div>
        <h3>
          Udemy
          <svg width="55" height="55">
            <use xlink:href="/certificateIcons.svg#udemy" />
          </svg>
        </h3>

        <ul>
          <li>
            Programa tus primeros juegos HTML5 con Javascript <strong>(8.5 hours) [2020]</strong>
          </li>
          <li>
            Aprende a desarrollar videojuegos con unity 2021 <strong>(5.5 hours) [2021]</strong>
          </li>
          <li>
            TailwindCSS from A to Z: Master TailwindCSS Quickly 
            <strong>(1.5 hours) [2024]</strong>
          </li>
          <li>
            Aprende Vue + Firebase Actualizado 2020 
            <strong>(6 hours) [2025]</strong>
          </li>
          <li>
            Svelte desde cero 
            <strong>(18 hours) [2025]</strong>
          </li>
        </ul>
      </div>

      <div class="content-wrap-text">
        <h3 class="spacing-certifications">
          University
          <svg width="30" height="30">
            <use xlink:href="/certificateIcons.svg#university" />
          </svg>
        </h3>

        <ul>
          <li>
            V Jornadas académicas internacionales y I congreso internacional de ciencias de la computación 
            <strong>(24 hours) [2018]</strong>
          </li>
          <li>
            Encuentro internacional tendencias de la inteligencia artificial 
            <strong>[2020]</strong>
          </li>
          <li>
            Medios digitales 
            <strong>(20 hours) [2020]</strong>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="spacing-certifications">
          Cisco
          <svg width="45" height="45">
            <use xlink:href="/certificateIcons.svg#cisco" />
          </svg>
        </h3>

        <ul>
          <li>
            Introducción a la Seguridad Cibernética de Cisco Networking Academy 
            <strong>[2020]</strong>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="spacing-certifications">
          Platzi
          <svg width="28" height="28">
            <use xlink:href="/certificateIcons.svg#platzi"/>
          </svg>
        </h3>

        <ul>
          <li>
            Testing de videojuegos 
            <strong>[2021]</strong>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="spacing-certifications">
          Domestika
          <svg width="27" height="27">
            <use xlink:href="/certificateIcons.svg#domestika"/>
          </svg>
        </h3>

        <ul>
          <li>
            Introducción a Unity para videojuegos 2D 
            <strong>(10 hours) [2021]</strong>
          </li>
        </ul>
      </div>

      
    </article>
   
  </section>
</Layout>

<style>

  
  section {
    width: 85%;
    margin: 0 auto;
  }

  div {
    margin-top: 35px;
  }

  h2 {
    text-align: center;
    font-size: 36px;
    color: #ededfce1;
  }

  h3 {
    text-align: center;
    font-size: 30px;
    color: #8b8bff;
    margin-top: 15px;
    margin-bottom: 35px;

    & svg {
      vertical-align: middle;
      margin-left: 15px;
    }
  }

  strong {
    color: #8b8bff;
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }

  ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    list-style-position: inside;
  }

  li {
    font-size: 18px;
    color: #ededfc;

    & strong {
      color: #8b8bffc2;
    }
  }

  li::marker {
    color: #8b8bff ;
  }

  .experience-text {
    text-align: center;
  }
  
  .containers-info {
    margin-block: 110px;
    align-items: center;
  }

  .container-personal {
    text-align: center;
  }

  .answer {
    display: inline;
  }

  .spacing-certifications {
    margin-top: 60px;
  }

  .content-wrap-text {
    width: 60%;
    margin: 0 auto;
    text-wrap: balance;
    text-align: center;

    & li {
      line-height: 1.6;
    }
  }

  @media (width < 1080px) {
    .content-wrap-text {
      width: 100%;
      margin: 0;
    }
  }
</style>