---

---

<section id="spacing-section">
  <header>
    <h1>About me</h1>
  </header>

  <article class="container-about">
    <p class="text-animated">
      I started studying at the University and then as an autodidact. <strong>Been developing software since 2017, in 2021 started with front end development</strong> with some frameworks. On my beginnings learn about backend and <strong>usually use Java, C#, and some databases as Microsoft Server, MySQL and PostgreSQL</strong>. Did some applications like store managers, and the project more relevant was a diet generator system for a real nutritionist. Now <strong>I continue development some backend projects with GO</strong>. On front end development I have different projects simple or more complex, always <strong>to offer a good user experience and good design</strong>. To do this I usually use frameworks as <strong>Astro, Svelte or React</strong> including animations with <strong>GSAP and Framer Motion</strong>, also sometimes I do the <strong>APIs with GO and NodeJs</strong> too.
    </p>

    <p class="text-animated">
      Currently <strong>working as free lancer creating a lot of types of websites and systems</strong> with scalability and the best possible practices. <strong>Currently my stack</strong> are: <strong>TypeScript, JavaScript, CSS, TailwindCSS, Astro, Svelte</strong>. When I need to connect to a database I usually use <strong>Supabase</strong>.
    </p>

    <p class="text-animated">
      Has knowledge in software development, web development, video game development and video game testing.
    </p>

  </article>
</section>

<style>
  .container-about {
    width: 85%;
    margin: 0 auto;
  }

  @media (width <= 724px) {
    .container-about {
      width: 100%;
      text-align: center;
      text-wrap: balance;
    }
  }
</style>