---
---

<section id="spacing-section">
  <header>
    <h1>About me</h1>
  </header>

  <article class="container-about">
    <p>
      I started studying at the University and then as an autodidact. <strong>Been developing software since 2017, in 2021 started with front end development with React</strong>, having experience with multiple languages for example <strong>Java, Python and HTML</strong>. Also experience in others technologies/frameworks like <strong>Vue, Zustand, PostgreSQL</strong>.
    </p>

    <p>
      knowledge in software development, web development, video game development and video game testing. I have <strong>+3 years of experience developing</strong> all types of <strong>websites</strong>, with the aim of providing a good usability and user experience.
    </p>

    <p>
      Currently <strong>working as free lancer</strong> developing scalability web sites for any customers and at the moment <strong>my current stack</stron> are: <strong>TypeScript, JavaScript, CSS, TailwindCSS, React, Astro, NextJS and React Native</strong>.
    </p>
  </article>
</section>

<style>
  .container-about {
    width: 85%;
    margin: 0 auto;
  }
</style>