---
import imgDev from '../assets/image-hap-cv.webp'
import Github from '../icons/Github.astro'
import Linkedin from '../icons/Linkedin.astro'
---

<header id="start">
  <div class="info-container">
    <p class="header-info">
      Hello! My name is <strong>Bryan Gordon</strong>, front end developer with <strong>+4 years of experience</strong> developing web sites. I'm form Ecuador and I speak <strong>Spanish</strong> and <strong>English</strong>.
      
      <span class="container-icons">
          <a target="_blank" referrerpolicy="no-referrer" href="https://www.linkedin.com/in/bryan-gordon-9ab303220">
            <Linkedin />
          </a>
        
          <a target="_blank" referrerpolicy="no-referrer" href="https://github.com/BryanGordon">
            <Github />
          </a>
      </span>
    </p>
      
    <img src={imgDev.src} alt="A photo of Bryan Gordon front-end developer">
  </div>
</header>

<script>
  import { gsap } from 'gsap'
  import { SplitText } from 'gsap/SplitText'

  gsap.registerPlugin(SplitText)

  const splitText = new SplitText(".header-info", {
    type: "lines"
  })

  gsap.from(splitText.lines, {
    duration: 2,
    autoAlpha: 0,
    stagger: 0.6,
    y: 5,
    filter: "blur(5px)"
  })

  gsap.set("img", {autoAlpha: 0, scale: 0.9, y: 10, filter: "blur(5px)"})
  gsap.to("img", {autoAlpha: 1, duration: 2, scale: 1, y: 0, filter: "blur(0px)"})
</script>

<style>
  header {
    background: linear-gradient(0deg, rgb(27, 29, 24) 80%, rgba(61, 62, 90, 1) 100%);
  }

  .info-container {
    padding-top: 6rem;
    display: flex;
    justify-content: space-around;
  }

  .header-info {
    width: 50%;
    margin: 4rem 0.5rem 0.5rem 4rem;
  }

  .container-icons {
    display: inline-flex;
    padding-left: 5px;
    gap: 10px;
    vertical-align: middle;
  }

  img {
    width: 178px;
    height: 175px;
    aspect-ratio: 178 / 175;
    border-radius: 0.7rem;
  }

  @media (width <= 728px) {
    .info-container {
      flex-direction: column-reverse;
      align-items: center;
    }

    .header-info {
      width: 90%;
    }
  }
  
  @media (width >= 330px) and (width <= 604px) {
    .header-info {
      margin-inline: 0;
    }
  }
</style>