---
const currentRoute = Astro.url.pathname
---

<nav>
  <ul class="nav-container">
    <li class="navbar-items">
      <a class={currentRoute === '/' ? 'active' : ''} href="/">Home</a>
    </li>

    <li class="navbar-items">
      <a class={currentRoute === '/information' ? 'active' : ''} href="/information">Personal information</a>
    </li>
  </ul>
</nav>

<style>
  .nav-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0;
  }

  .navbar-items {
    cursor: pointer;
    list-style: none;
  }

  a:hover {
    background-color: #8b8bffc2;
    color: #000;
  }
  
  a {
    border-radius: 5px;
    text-decoration: none;
    font-size: 22px;
    color: #EDEDFC;
    font-weight: 500;
    padding: 3px 15px;
    transition: color linear 0.35s, background-color ease-in-out 0.4s;
  }

  .active:hover {
    background-color: #ededfc98;
    color: #000;
  }

  .active {
    color: #7e7efb;
    transition: color linear 0.35s, background-color ease-in-out 0.4s;
  }

  @media (width <= 420px) {
    a {
      font-size: 19px;
    }
  }
</style>
