---

---

<article>
  <header>
    <div>
      <img src="" alt="">
    </div>
  </header>

  <div>
    <h1>Titulo del proyecto</h1>
    <h4>Descripcion</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, iusto dolore? Ipsa repudiandae pariatur enim blanditiis non libero maxime repellendus officia asperiores, minima nisi beatae at facere ad ipsum. Accusamus quos, iure autem quo animi architecto soluta deserunt sapiente, vel similique ratione? Illum, debitis facere!</p>
  </div>

  <div>
    <h4>Tecnologias</h4>
    <article>
      <i>Icono de cada tecnologia</i>
      <i>Icono de cada tecnologia</i>
      <i>Icono de cada tecnologia</i>
    </article>
  </div>


</article>