---
import Node from '../icons/Node.astro'
import skillsIcons from '../mocks/skillsData.json'
---

<section id="spacing-section">
  <header>
    <h1>Skills</h1>
  </header>

  <article>
    {
      skillsIcons.map((item) => (  
        <div class="icon-card">
          <svg width="40" height="40">
            <use xlink:href={item.iconName} />
          </svg>
        </div>
      ))
    }

    <div class="icon-card">
      <Node />
    </div>

  </article>
</section>

<style>
  article {
    padding-block: 15px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    place-items: center;
    border-radius: 20px;
    background: radial-gradient(#262737 0%, #272922 90%);
  }
  
  .icon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #9898a091;
  }

  @media (width <= 614px) {
    article {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>