---
import skillsIcons from '../mocks/skillsData.json'
---

<section id="spacing-section">
  <header>
    <h1>Skills</h1>
  </header>

  <article class="algo">
    {
      skillsIcons.map((item) => (  
        <div data-title={item.name} class="icon-card">
          <svg width="40" height="40">
            <use xlink:href={item.iconName} />
          </svg>
        </div>
      ))
    }
  </article>
</section>

<script>
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import gsap from 'gsap'

  gsap.registerPlugin(ScrollTrigger)

  gsap.from(".icon-card", {
    scrollTrigger: ".algo",
    duration: 3,
    autoAlpha: 0,
    filter: "blur(2px)",
    stagger: {
      from: "random",
      each: 0.2,
      grid: "auto" 
    },
    ease: "sine.out"
  })
</script>

<style>
  article {
    padding-block: 15px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    place-items: center;
    border-radius: 20px;
    background: radial-gradient(#262737 0%, #1b1d18 90%);
  }

   .icon-card:hover {
    transform: scale(1.1);
    background-color: transparent;
  }
  
  .icon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #9898a091;
    transition: transform ease 0.3s, background-color ease-in-out 0.25s;
  }

  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.35s;
    visibility: visible;
  }

  [data-title]:after {
    content: attr(data-title);
    background-color: #8b8bffc2;
    color: #ededfc;
    font-size: 14px;
    position: absolute;
    padding: 3px 15px;
    bottom: -1.8em;
    left: 45%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
  }

  @media (width <= 614px) {
    article {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>