---
import Node from '../icons/Node.astro'

---

<section id="spacing-section">
  <header>
    <h1>Skills</h1>
  </header>

  <article>
    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#javascript"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#typescript"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="42" height="43">
        <use xlink:href="/skillsIcons.svg#html"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="42" height="43">
        <use xlink:href="/skillsIcons.svg#css"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#tailwind"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#react"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#svelte"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#vue"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="39" height="39">
        <use xlink:href="/skillsIcons.svg#native"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#astro"/>
      </svg>
    </div>

     <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#next"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#zustand"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#postgresql"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#mysql"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#java"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#python"/>
      </svg>
    </div>

    <div class="icon-card">
      <svg width="40" height="40">
        <use xlink:href="/skillsIcons.svg#c#"/>
      </svg>
    </div>

    <div class="icon-card">
      <Node />
    </div>

  </article>
</section>

<style>
  article {
    padding-block: 15px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    place-items: center;
    border-radius: 20px;
    background: radial-gradient(#262737 0%, #272922 90%);
  }
  
  .icon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #9898a091;
  }
</style>