.container-about {
  padding: 0 5rem 3rem 6rem;
}

@media screen and (max-width: 1100px) {
  .container-about {
    padding: 0 5rem 3rem 3rem;
  }
}

@media screen and (max-width: 600px) {
  .container-about {
    padding: 0 0 3rem 0;
  }
}

@media screen and (max-width: 300px), (max-width: 400px), (max-width: 500px), (max-width:1000px) {
  .container-about {
    padding: 0 1rem 3rem 2rem ;
  }
}

