.container-titles {
  margin: 1rem 0 4rem 5rem;

  & div {
    margin-left: 20px;
  }
}

.cv-titles {
  font-weight: bold;
  color: black;
}

.answer {
  display: inline;
}

.container-per {
  margin-bottom: 15px;
}

@media screen and (max-width: 800px) {
  .container-titles {
    margin-left: 3rem;
  }
}

@media  screen and (max-width: 600px) {
  .container-titles {
    margin-left: 1rem;
  }
}