footer {
  padding-bottom: 1rem;
  background-color: #36382e ;
}

.container-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.footer-autor {
  color:  #ffffff;
  cursor: pointer;
}

.icons {
  padding-left: 10px;
}

.link-footer-linke {
  color: #ffffff;
  padding-right: 15px;
}

.link-footer-github {
  color: #ffffff;
}

.link-autor {
  text-decoration: none;
}

.footer-autor:hover {
  color: #7e7efb;
  transition: all ease 0.25s;
}

.link-footer-linke:hover {
  color: #7e7efb;
  transition: all ease 0.3s;
}

.link-footer-github:hover {
  color: #7e7efb;
  transition: all ease 0.3s;
}
