.main-header {
  background-color: #36382e;
}

.info-container {
  padding-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.header-info {
  max-width: 50%;
  margin: 4rem 0.5rem 0.5rem 4rem;
  color: #ffffff;
}

.icon {
  display: inline-flex;
  position: absolute;
  margin-top: 5px;
}

.icon-color {
  margin-left: 12px;
  color:#ffffff
}

.icon-color:hover {
  color: #7e7efb;
  transition: all ease 0.3s;
}

.img-container-header img {
  height: 175px;
  border-radius: 0.7rem;
}

.navbar-container {
  padding: 1rem 0rem 1rem 0rem;
}

@media screen and (max-width: 400px), (max-width: 500px) {
  .info-container {
    flex-direction: column-reverse;
  }

  .img-container-header {
    padding: 0;
    max-width: 80%;
    margin: 0 auto;
  }

  .header-info {
    width: 89%;
    padding: 1.2rem;
    margin: 0 auto;
  }

  .icon {
    display: block;
   }

}

@media screen and (max-width: 300px) {
  .header-info {
    padding: 1.2rem 0.9rem 1.2rem 0.9rem;
  }

}
