.container-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-items {
  cursor: pointer;
  padding: 0 25px;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  color: #7e7efb;
  transition: all 0.2s ease;
}

.link.active {
  color: #7e7efb;
}
