.skills-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 1rem;
}

.skill-card-container {
  margin: 0 auto;
}

.skill-cards {
  max-width: 180px;
  max-height: 180px;
  filter: drop-shadow(0 0 20px 0  rgb(29, 29, 28));
}

.skill-cards:hover {
  animation:card 0.2s  ease forwards;
}

@keyframes card {
  0% {
    box-shadow:0 0 0 0 transparent;
    transform: scale(1);
  }
  100% {
    filter: drop-shadow(0 10px 0  rgba(29, 29, 28, 0.2));
    transform: scale(1.02);
  }
}
