html {
  font-family: 'Comfortaa', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Mulish', sans-serif;
}

body {
   background-color: #eef0ff;
   margin: 0;
}

section {
  margin-bottom: 80px;
}

h1 {
  color:  #221a4c;
  width: 100%;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.5rem;
}

h2 {
  color: #221a4c;
  padding-left: 4rem;
}

p {
  color: #36382e;
  line-height: 1.8rem;
  font-size: 1.1em;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

span {
  color: #7e7efb;
}

.markBody {
  color: black;
  font-weight: 600;
}

main {
  padding: 5rem 6rem 2rem 6rem;
}

@media screen and (max-width: 800px), (max-width: 900px), (max-width: 1000px) {
  h2 {
    padding-left: 0;
  }
}

@media screen and (max-width: 300px), (max-width: 400px), (max-width: 500px) {
  main {
    padding: 0;
  }

  section {
    padding-top: 1rem;
  }

  h2 {
    padding-left: 1.2rem;
  }
}
