---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro'
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Bryan Gordon Portfolio | Front end developer">
    <meta property="og:description" content="React.js developer">
    <link rel="icon" type="image" href="/dev-portfolio.webp" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&family=Mulish:wght@300&display=swap" rel="stylesheet">
    <title>Bryan's Portfolio | Front end Developer</title>
    <ClientRouter />
  </head>
  
  <script>
    import gsap from 'gsap'
    import { ScrollTrigger } from 'gsap/ScrollTrigger'
    import { SplitText } from 'gsap/SplitText'

    gsap.registerPlugin(ScrollTrigger, SplitText)

    const splitTextHeader = new SplitText(".header-info", {
      type: "lines"
    })
    const splitTextAbout = new SplitText(".text-animated", {
      type: "lines"
    })

    gsap.set("img", {
      autoAlpha: 0,
      scale: 0.9,
      y: 10,
      filter: "blur(5px)",
    })

    gsap.to("img", {
      autoAlpha: 1,
      scale: 1,
      duration: 2,
      y: 0,
      filter: "blur(0px)"
    })

    gsap.from(splitTextHeader.lines, {
      duration: 2,
      autoAlpha: 0,
      stagger: 0.6,
      y: 5,
      filter: "blur(5px)",
      ease: "power3.inOut"
    })

    gsap.from(splitTextAbout.lines, {
      scrollTrigger: ".container-about",
      autoAlpha: 0,
      filter: "blur(3px)",
      duration: 2,
      stagger: 0.3,
    })

    gsap.from(".icon-card", {
      scrollTrigger: ".skills-container",
      duration: 3,
      autoAlpha: 0,
      filter: "blur(2px)",
      stagger: {
        from: "random",
        each: 0.3,
        grid: "auto"
      }
    })

  </script>

	<body>
    <Header />
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
	</body>
</html>

<style is:global>
  html {
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    background-color: #1b1d18;
    display: flex;
    flex-direction: column;
    height: 100dvh;
  }
  
  main {
    margin: 40px;
  }

  section {
    margin-block: 40px;
  }

   #spacing-section {
    margin-bottom: 120px;
  }

  p {
    color: #EDEDFC;
    line-height: 1.6;
  }

  a {
    text-decoration: none;
  }

  h1 {
    text-align: center;
    margin-bottom: 90px;
    font-size: 42px;
    color: #ededfce1;
  }
</style>
