---
import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro'
---

<!doctype html>
<html lang="en">
	<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Bryan Gordon Portfolio | Front end developer">
    <meta property="og:description" content="React.js developer">
    <link rel="icon" type="image" href="/dev-portfolio.webp" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&family=Mulish:wght@300&display=swap" rel="stylesheet">
    <title>Bryan's Portfolio | Front end Developer</title>
  </head>
	<body>
    <Header />
    <Navbar />
    <main>
      <slot />
    </main>
	</body>
</html>

<style>
  body {
    margin: 40px;
    background-color: #36382e;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100dvh;
  }
</style>
