---
import Footer from '../components/Footer.astro'
import { ClientRouter } from 'astro:transitions';
---
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Bryan Gordon Portfolio | Front end developer">
    <meta property="og:description" content="React.js developer">
    <link rel="icon" type="image" href="/dev-portfolio.webp" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&family=Mulish:wght@300&display=swap" rel="stylesheet">
    <title>Portofolio- Nombre del proyecto</title>
    <ClientRouter />
  </head>
  <body>
    <section>
      <header>
        <div class="container-back">
          <a class="back-icon" href="/">
            <svg class="back-icon" width="18" height="18">
              <use xlink:href='/certificateIcons.svg#back-arrow'/>
            </svg>
            Volver atras
          </a>
        </div>
      </header>

      <slot />

    </section>
    <Footer />

  </body>
</html>

<style is:global>
  html {
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    background-color: #1b1d18;
    display: flex;
    flex-direction: column;
    height: 100dvh;
  }

  section {
    margin-block: 40px;
  }

  a {
    text-decoration: none;
  }

  .container-back {
    width: 80dvw;
    margin: 0 auto;
    padding-top: 45px;
  }

  .back-icon:hover {
    color: #EDEDFC;

     & svg{
      color: #8b8bff;
    }
  }

  .back-icon {
    text-decoration: none;
    color: #8b8bff;
    transition: color ease-in-out 0.25s;

    & svg {
      color: #EDEDFC;
    }   
  }

  .back-icon {
    vertical-align: middle;
    margin-right: 10px;
  }

  @media (width <= 685px) {
    .container-back {
      padding-top: 25px;
    }
  }

</style>

